.dashboardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    height: 100%;
}



.dashboardActivitiesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
    margin-top: -30px;
}
.dashboardButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btnMode {
    margin : auto;
    background-color: #3B3B3B;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
.benevoleNotifications{
    margin-top: 20px;
}


@media screen and (min-width: 768px) {

        .dashboardContainer{
            margin-left: 10%;
            margin-top:20px;
        }
        .dashboardButtons {
            flex-direction: row;
        }
        .btnMode {
            margin-right: 20px;
            margin-left: 20px;
        }
        .firstColumn {

            margin-left: -50%;
            width:45vw;
            height: 100%;
        }
        .secondColumn {

            margin-top: -42.5%;
            margin-left: 50%;
            width:45vw;
            height: 100%;
        }
        .benevoleNotifications {
            margin-top: 20px;
        width:40vw;
        margin-left: 40px;
        margin-bottom: 30px;
        }
        .dashboardActivitiesContainer {
            margin-top:-19%;
            margin-right:30px;
            margin-left: -60px;
        }
    


    
    
}