.dashboardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    overflow-y: auto;
}

.benevoleCalendar{
    display: flex;
    justify-content: center;
    font-size: larger;
}

.columnCalendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
}

.cellColumnCalendar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cellCalendar{
    padding: 10px;
    margin-top: 20px;
    list-style: none;
}

.inscription{
    background-color: aqua;
    border-radius: 12px;
}

.btnMode {
    margin : auto;
    background-color: #3B3B3B;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}