.liste {
    background-color: #ffff;
    color : #838383;
    margin-top: 4%;
    margin-left:7%;
    padding: 5px;
}
.liste:hover {
    background-color: #3CCBF4;
    color : #ffff;
    margin-top: 4%;
    margin-left:7%;
    padding: 5px;
}
.liste:focus {
outline: none;
}
.logoCompte {
    width: 50px;
    height: 50px;
}
.headerLine {
    margin-top: -25%;
    margin-left:80%;
}


.header {
    background: linear-gradient(180deg, #105B9E 0%, #3CCBF4 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:160px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: left;
    }

.h3 {
        padding-top: 12%;
        margin-left: 5%;
        color: white;
        font-size: 16px;
        margin-bottom: 5%;
    
    }
.h1 {
        margin-left: 5%;
        color: white;
        font-size: 24px;
    
    }
    
    @media screen and (min-width:768px) {
    
        .h3 {
            padding-top: 2%;
            margin-left: 20%;
            color: white;
            font-size: 24px;
            margin-bottom: 2%;
    
        }
        .h1 {
            margin-left: 20%;
            color: white;
            font-size: 48px;
    
        }
        .logoCompte{
            display :none;
        }
    
        
    }