.inscriptionContainer{
    margin: 60px;
    text-align: center;
}
.titi{
    padding:0;
    margin-left:-20%;
    margin-bottom: 10px;
    font-size: 22px;
    width:100vw;
    
}
.loaderContainer {
    position: relative;
    width: 30vw;
    height: 30vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.title{
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}

.flexibleText{
    margin-top: 15px;
    text-decoration: underline;
    font-size: larger;
}

.posteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.posteBackground{
    color: white;
    font-size: larger;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.zoneContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.zoneBackground{
    color: white;
    font-size: larger;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #105C9F;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContent {
    background:#105C9F;
    padding: 20px;
    border-radius: 8px;
    width: 90vw;
    height: 60vh;
    overflow: auto;
    text-align: center;
}

.popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popupCloseButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.popupChooseButton {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.ContainerAllZone{
margin-top:60px;
width:100vw;
}
.titre {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    align-self: center;
}
.popupBody {
text-align: start;
margin:20px;
}
.popupTitle{
    color:white;
}
.pjeu {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jeu {
    font-size: 20px;
}
.listeJeux {
    color: #fff;
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: space-between; /* Distribute items evenly */
    margin-top: 10px;
}

.listeJeux li {
    width: 48%; /* Set width for each item */
    margin-bottom: 10px;
}
.preferent {
    color: #fff;
}
.info {
    color:black;
    font-size: 20px;
}
.planning {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.btn {
    margin-left:15%;
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #838383;
    outline: none;
    background-color: #d9d9d900;
    font-size: 20px;
    color: #838383;
}

.btn:hover {
  background-color: #838383;
  color: #FFFF;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x:scroll;
}

@media screen and (min-width: 768px) {
    .flexibleText {
        margin-left: 20%;
    }
.zoneContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 15%;
}
.popupContent {
    background:#105C9F;
    padding: 20px;
    border-radius: 8px;
    margin-left: 15%;
    width: 80vw;
    height: 80vh;
    overflow: auto;
    text-align: center;
}
.posteContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 15%;
}
.title {
    margin-left: 15%;
}
.inscriptionContainer{
    margin-left: 10%;
}

.titi {
    margin-left: 0%;
}
.planning{
    margin-left: 28%;
}
 
}