.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    /* Autres styles nécessaires pour le positionnement et la mise en page */
}
.editInput {
font-size: 20px;
  padding: 5px;
  border: 0.5px solid #838383;
  border-radius: 5px;
  margin-bottom: 20px;
}
.btn {
    background: transparent;
    border: 2px solid #838383;
    font-size: 16px;
    border-radius: 5px;
    padding: 4px;
    color: #838383;
    cursor: pointer;
    margin-top: -10px;
    margin: 5px;
    text-align: center;
    
}


@media (min-width: 768px) {
    .navbar {
        flex: 0 0 12%;
    }

    .benevoleBox{
        width: 70vw !important;
    }
}

.benevoleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 95vw;
    padding:20px;
    background-color : #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:20px;
}

.benevoleTitle{
    margin-bottom: 20px;
    color: #838383;
}
  

.benevoleBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    border: 1px solid #838383;
    border-radius: 15px;
}

.nomBenevole{
    font-weight: normal;
}

.nomBenevole > *:not(:last-child) {
    margin-right: 15px; /* Ajoute une marge à droite sur tous les éléments sauf le dernier */
}

.iconsBenevole > *:not(:last-child) {
    margin-right: 15px; /* Ajoute une marge à droite sur tous les éléments sauf le dernier */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 90%;
    height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 30px;
}

.popupHeader {
    display: flex;
    justify-content: flex-end;
}
  
.closeButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}