.benevoleCalendar{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    background-color : #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    width: 95vw;    
}
.loaderContainer {
    position: relative;
    width: 30vw;
    height: 30vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


.dayTitle{
    font-size: 20px;
}


.inscriptionCalendar{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    background-color : #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    width: 90vw;  
}

.Calendar {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.columnCalendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
}

.cellColumnCalendar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cellCalendar{
    padding: 9px;
    margin-top: 20px;
    list-style: none;
    font-size: smaller;
}

.disabledSlot{
    padding: 10px;
    margin-top: 20px;
    list-style: none;
    font-style: italic;
    color: #A7A7A7;
}

.progressBar{
    height: 6px;
    border-radius: 20px;
}

.inscription{
    border-radius: 12px;
}

.bottomAlertContainer {
    border-radius: 50px;
    margin: 5px auto; /* "auto" pour centrer horizontalement */
    position: fixed;
    bottom: 10px;
    transform: translateY(-100%);
    width: calc(100% - 20px);
    max-width: 400px; /* Ajustez la largeur maximale selon vos préférences */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.calendarLegend{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin-bottom: 10px;
    color: #838383;
}

.legendColor{
    width: 10px;
    height: 10px;
    margin-right: 2px;
    margin-left: 8px;
    border-radius: 50%;
}
.titre {
    font-size: 20px;
    text-align: center;
    color: #838383;
    margin: 20px 0;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    height: 100%;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 30px;
}

.closeButtonPopup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #fff; /* Couleur du texte de la croix */
}

.popupTitle{
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.popupContent{
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #fff;
}

.popupListe{
    margin: 8px;
}


@media screen and (min-width: 768px) {
    .benevoleCalendar {
        width: auto;
        margin-top: 20px;
        margin-left: 40px;
    }
    .Calendar {
        display: flex;
        margin: auto;

    }
    .inscriptionCalendar {
        width: 45vw;
        margin-left:-10%;
    }

    
}